<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout">
<div layout:fragment="content">
    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }

        $(function () {
            var token=getQueryVariable("token");
            if(token=="" || token==undefined){
                token=$.cookie('access_token');
            }
            $.ajax({
                type: "get",
                headers: {"Authorization": "bearer " + token},
                url: "/data/lvsuo",
                statusCode: {
                    401: function () {
                        alert("401未授权...将去登录")
                    },
                    403: function () {
                        alert("403无权访问");
                    },
                    200: function(){
                    }
                },
                success: function (data) {
                    $("#data-info").html(data);
                }
            })
        });
    </script>

    <!--遍历数组-->
    <div id="data-info">
        未授权...
    </div>
</div>
</html>
